body {
    padding: 0px 10px;
}

header {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    justify-content: space-between;
    grid-gap: 10px;
    margin-bottom: 30px;

    & .header__logo img {
        width: 115px;
        height: 100px;
    }

    & .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & .header__search {
            & input {
                height: 30px;
                width: 140px;
                padding: 0px;
                border: 1px solid #b2bec3;
            }

            & i {
                position: relative;
                right: 25px;
                cursor: pointer;
            }
        }
        
        & .header__filter {
            margin-left: -15px;

            & select {
                height: 32px;
                width: 140px;
                padding: 0px;
                border: 1px solid #b2bec3;
            }
        }
    }

    & .header__follow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #b2bec3;
        height: 30px;
        
        & .header__follow-title {
            font-size: 14px;
            font-weight: 500;
        }

        & .header__follow-icons {
            width: 60%;
            display: flex;
            justify-content: flex-end;

            & i {
                margin-left: 10px;
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(500px, 1fr));
    grid-gap: 10px;

    & .main__item {
        border: 1px solid #b2bec3;

        & p {
            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 10px;
            margin: 0px;
        }
        
        & .main__item-title {
            height: 100px;
            padding-left: 10px;
        }

        & .main__item-image {
            & img {
                width: 100%;
                height: 150px;
            }
        }

        & .main__item-imagedesc {
            height: 54%;
            padding-top: 10px;
            padding-left: 10px;
        }
        
        & .main__item-content {
            height: 65%;
            padding-top: 10px;
            padding-left: 10px;
        }
        
        & .main__item-readmore {
            display: flex;
            align-items: center;
            height: 60px;
            padding-left: 10px;
            border-top: 1px solid #b2bec3;
            cursor: pointer;

            & i {
                margin-left: 10px;
            }
        }
        
        & span {
            font-size: 1.1rem;
            font-weight: 400;
        }
        
    }

    & :nth-child(1) {
        grid-column: 1/4;
        position: relative;
        
        & .main__item-floatarea {
            position: absolute;
            right: 0px;
            min-width: 300px;
            width: 32.33%;
            height: 250px;
            background-image: none;
            color: black;
            padding: 5px;
            background-color: white;
            border-top: 0px;
            border-left: 1px solid #b2bec3;
            border-bottom: 1px solid #b2bec3;

            & p {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 10px;
            }

            & span {
                font-size: 1.1rem;
                font-weight: 400;
                margin-left: 10px;
            }
            
            & div {
                margin-top: 50px;
                padding-top: 25px;
                padding-left: 10px;
                border-top: 1px solid #b2bec3;
                cursor: pointer;
            }
        }
    }
}

main .background-image {
    background-image: url('https://i.pinimg.com/564x/9f/e4/bb/9fe4bbad049e83d8a2503cc1cc9529ab.jpg');
    /* 
    background-size: cover; 
    */
}